project_id = "sxorybjlxyquxteptdyk"

[functions.realtime-token]
verify_jwt = true

[functions.backfill-stats]
verify_jwt = false

[functions.voice-to-text]
verify_jwt = false

[functions.text-to-speech]
verify_jwt = false
