project_id = "sxorybjlxyquxteptdyk"

[auth.password]
hibp_enabled = true
min_length = 8
required_characters = ["upper", "lower", "number", "symbol"]

[functions.realtime-token]
verify_jwt = true

[functions.report-test-results]
verify_jwt = false

[functions.admin-create-user]
verify_jwt = true

[functions.backfill-stats]
verify_jwt = true

[functions.calculate-daily-stats]
verify_jwt = true

[functions.populate-weights]
verify_jwt = true

[functions.process-voice-training]
verify_jwt = true

[functions.voice-to-text]
verify_jwt = false

[functions.text-to-speech]
verify_jwt = false

[functions.process-farmhand-activity]
verify_jwt = true

[functions.submit-correction]
verify_jwt = true
